@import "tailwindcss";
#formAlert {
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 500;
  transition: all 0.4s ease;
}

#formAlert.success {
  background-color: #dcfce7; /* light green */
  color: #166534; /* dark green */
  border: 1px solid #86efac;
}

#formAlert.error {
  background-color: #fee2e2; /* light red */
  color: #991b1b; /* dark red */
  border: 1px solid #fca5a5;
}

.hidden {
  display: none;
}
